.dialog-wrap {
    width: 100%;
    @media screen and(min-width: 768px) {
        width: 500px;
    }
}

.mat-form-field {
    padding-top: 15px;
    &:first-child {
        padding-top: 10px;
    }
    &:last-child {
        padding-bottom: 10px;
    }
}

.button-wrapper {
    display: flex;
    justify-content: flex-end
}