<div class="container dialog-wrap">

    <h2>Agregar Libro</h2>

    <div class="dialog d-flex flex-column">
        <mat-form-field>
            <input (input)="nombre = $event.target.value" matInput placeholder="Nombre" name="nombre" [(ngModel)]="nombre" minlength="2" required>
            <mat-error *ngIf="vadilator.invalid">{{getErrorMessage('el nombre')}}</mat-error>

        </mat-form-field>

        <mat-form-field>
            <input (input)="autor = $event.target.value" matInput placeholder="Autor" name="autor" [(ngModel)]="autor" required>
            <mat-error *ngIf="vadilator.invalid">{{getErrorMessage('el autor')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input (input)="editorial = $event.target.value" matInput placeholder="Editorial" name="editorial" [(ngModel)]="editorial" required>
            <mat-error *ngIf="vadilator.invalid">{{getErrorMessage('la editorial')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input (input)="edicion = $event.target.value" matInput placeholder="Edicion" name="edicion" [(ngModel)]="edicion" required>
            <mat-error *ngIf="vadilator.invalid">{{getErrorMessage('la edicion')}}</mat-error>
        </mat-form-field>

    </div>

    <div class="button-wrapper">

        <button (click)="agregarLibro()" (keypress)="agregarLibro()" mat-stroked-button color="accent">Agregar</button>

    </div>

</div>