.mat-form-field {
    padding-top: 15px;
    &:first-child {
        padding-top: 10px;
    }
    &:last-child {
        padding-bottom: 10px;
    }
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .dialog-wrap {
        width: 500px;
    }
}