.title {
    margin-bottom: 2rem;
}

.libro {
    margin-bottom: 2rem;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    .cancelar {
        margin-right: 1rem;
    }
}